<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WhatsTheDate</string>
			<key>footerText</key>
			<string>No respring required</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.icraze.whatsthedateprefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.icraze.whatsthedateprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
			<key>footerText</key>
			<string>© 2020 iCraze</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PayPal</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>WhatsTheDate</string>
</dict>
</plist>
